##########
##Extras##
##########

#[homing_override]
#set_position_z: 5
#gcode: G90
#    G0 Z7
#    G0 X20 Y20 F6000
#    G28 Z0
#    G0 Z2
#gcode: G90
#    BED_MESH_CLEAR
#    G0 X150 Y150 F6000
#    G28 Z0
#    G0 Z2
#axes: z

[safe_z_home]
home_xy_position: 150, 150
speed: 100.0
z_hop: 5.0
z_hop_speed: 20.0
move_to_previous: True

[z_tilt]
z_positions: -35,150
    335, 150
points: 3, 150
    297, 150
speed: 80
horizontal_move_z: 5

[bed_mesh]
speed: 150
horizontal_move_z: 2
mesh_min: 2, 20
mesh_max: 297,280
probe_count: 4,4
fade_start: 1.0
fade_end: 10.0
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 2,2
algorithm: lagrange
#bicubic_tension: .2

[virtual_sdcard]
path: ~/.octoprint/uploads/

[force_move]
enable_force_move: True

[pause_resume]
recover_velocity: 50.

[firmware_retraction]
retract_length: 3
retract_speed: 40
unretract_extra_length: 0
unretract_speed: 20

[gcode_arcs]
resolution: 1.0

[temperature_sensor pi]
sensor_type: rpi_temperature

[heater_fan nozzle_fan]¡
pin: ar7
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[bed_screws]
screw1: 2,2
screw1_name: front left screw
screw2: 295,2
screw2_name: front right screw
screw3: 2,280
screw3_name: back left screw
screw4: 295,280
screw4_name: back right screw
horizontal_move_z: 5
probe_height: 0
speed: 100
probe_speed: 5

[screws_tilt_adjust]
screw1: 2,2
screw1_name: front left screw
screw2: 295,2
screw2_name: front right screw
screw3: 2,280
screw3_name: back left screw
screw4: 295,280
screw4_name: back right screw
horizontal_move_z: 5
speed: 100
horizontal_move_z: 5
screw_thread: CW-M3

[gcode_arcs]
resolution: 1.0

[pause_resume]
recover_velocity: 50.

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    150,150,20
    
[input_shaper]
shaper_freq_x: 57.6
shaper_type_x: 2hump_ei
shaper_freq_y: 77.4
shaper_type_y: 3hump_ei

# # Filament Switch Sensor.  Support for filament insert and runout detection
# # using a switch sensor, such as an endstop switch.
# [filament_switch_sensor my_sensor]
# pause_on_runout: True
# #  When set to True, a PAUSE will execute immediately after a runout is
# #  detected. Note that if pause_on_runout is False and the runout_gcode is
# #  omitted then runout detection is disabled. Default is True.
# runout_gcode: FILAMENT_UNLOAD
# #  The gcode to run after a filament runout is detected.  If pause_on_runout
# #  is set to True this gcode will run after the PAUSE is complete.  The default
# #  is not to run any gcode commands.
# #insert_gcode:
# #  The gcode to run after a filament insert is detected.  The default is not to
# #  run any gcode commands, which disables insert detection.
# event_delay: 3.0
# #  The minimum amount of time in seconds to delay between events. Events
# #  triggered during this time period will be silently ignored. The default
# #  is 3 seconds.
# switch_pin: ^ar2
# #  The pin on which the switch is connected.  This parameter must be provided.

